name: Vulnerable action workflow

on:
  pull_request_target:
    branches:
      - main

jobs:
  vulnerable-action-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          cache: "pnpm"

      - run: pnpm install

      - run: turbo run build
